/* -- HTML -- */
body {
  margin:0;
  background:url('../img/paper.png');
}
body *{
  box-sizing: border-box;
}
header{
  background-color:#00897B;
  width:100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
header h1{
  width:25%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}
.wrapper{
  max-width:1200px;
  margin:auto;
}
.bottom > * {
  vertical-align: bottom;
}

/* -- Headings -- */
h1{
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
/*  color: #E53935;*/
  color: #FFF;
  margin:.5em 0;
}
h1 span{
/*  color: #616161;*/
  letter-spacing: 5px;
  margin-left: 8px;
}
h2{
  font-size:2em;
}
h2, p, a{
  font-family: 'Open Sans', sans-serif;
}
/* -- Header -- */
header div{
  position: relative;
  display: flex;
}

/* -- Navigation -- */
nav{
  height: 100px;
  right: 0;
  position: absolute;
  width:75%;
}
nav a{
  color:#fff;
  font-size:1.25em;
  padding:6px;
  background: rgba(0, 105, 92, 0.5);
  text-decoration: none;
  border-radius: 6px;
  transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
nav a:hover{
  background: #00695C;
}
nav ul{
  position: absolute;
  list-style: none;
  padding: 0;
  float: right;
  bottom: 24px;
  right: 0;
  margin: 0;
}
nav li{
  display: inline;
  margin-left:1em;
}

/* -- Home Page -- */
#project-list{
  margin-top:48px;
}
#project-list a{
  text-decoration: none;
  color:#000!important;
}
#project-list a:hover .project-container{
  top: -5px;
  position: relative;
  
}
#project-list a:hover .project-container .project{
  box-shadow:1px 1px 8px rgba(0,0,0,.5);
}
.project-container{
  display:inline-block;
  position: relative;
  width:33%;
  padding:12px;
  top:0px;
  transition:top .5s ease;
}
.project{
  font-size: 2em;
  padding-top:.5em;
  background:#039BE5;
  box-shadow: 1px 1px 4px rgba(0,0,0,.5);
  display: inline-block;
  vertical-align: top;
  transition:all .5s ease;
}
.project h2{
  margin: 0 0 .5em 0;
  text-align: center;
  font-size: 1em;
  color:#fff;
}
.project p{
  background:#EEEEEE;
  margin:0;
  padding: 24px;
  font-size:16px;
}
.project img{
  width:100%;
}

/* -- Canvas -- */
#canvas-container {
   width: 100%;
   text-align:center;
}

canvas {
   display: inline;
   margin:24px auto 24px auto;
}

#loading{
  display:none; 
  width:150px; 
  margin:200px auto 0 auto;
}